body {
    background:black;
}
.entirephotospace {
    display: block;
    background: lightgray;
    max-height: 100%;
    width: 80%;
    background: rgb(230, 224, 224);
    border: 1px;
    border-color: red;
}
.whitetop {
    height: 1px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-color: green;
    border: 1px;
}
.photo1 {
    display: flex;
    justify-content: center;
}
img {
    width: 200px;
}